vortex.deployment.json
**/__folder_managed_by_vortex
**/._.DS_Store
.idea
**/*.save
.idea/**
FarmTypeManager/data/*
!FarmTypeManager/data/default.json
UI Info Suite/*_modData.xml
SkillPrestige/psconfigs/*
